afroz_mail_final.json
{
  "name": "YC Page → Founder Extract + Email Guess (Gemini Flash)",
  "nodes": [
    {
      "parameters": {},
      "id": "1e4f4390-1c50-4f5d-b87e-2ac908f7dd73",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        112
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "startup-url",
              "name": "companyPageUrl",
              "type": "string",
              "value": "https://www.ycombinator.com/companies/clever"
            },
            {
              "id": "startup-domain",
              "name": "companyDomain",
              "type": "string",
              "value": "clever.com"
            }
          ]
        },
        "options": {}
      },
      "id": "cd20503f-a63b-47c6-a7fa-fb4eb73cada8",
      "name": "Config: URL + Domain",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        112
      ]
    },
    {
      "parameters": {
        "url": "={{$json[\"companyPageUrl\"]}}",
        "options": {}
      },
      "id": "eb684b69-d6c0-4b21-b10b-4c4099673a57",
      "name": "Fetch Page HTML",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        288,
        112
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=You will receive the full HTML of a YC startup page.\n\nTask:\n1. Identify the company name.\n2. Extract the founder names.\n3. Guess each founder’s corporate email using the pattern: <firstname>@<company-domain>.\n4. Output ONLY valid JSON. No explanation, no extra text.\n\nJSON Format:\n{\n  \"company\": \"<company-name>\",\n  \"founders\": [\n    { \"name\": \"<founder name>\", \"email\": \"<guessed email>\" }\n  ]\n}\n\nHTML:\n{{ $json.data }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        528,
        112
      ],
      "id": "9405433a-4c03-4e86-855b-1b2d87af3fc5",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "CAUXQIVsJmXN6KHh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract the text from Gemini response\nlet raw = $input.first().json.content?.parts?.[0]?.text || \"\";\n\n// Remove ```json and ``` wrappers\nraw = raw.replace(/```json|```/g, \"\").trim();\n\n// Try converting to JSON\nlet parsed;\ntry {\n  parsed = JSON.parse(raw);\n} catch (e) {\n  return [\n    {\n      json: {\n        error: \"❌ JSON parsing failed. Raw output:\",\n        raw\n      }\n    }\n  ];\n}\n\n// Extract founders list\nconst founders = parsed.founders || [];\n\n// Build markdown table\nlet table = `| Founder Name | Email |\\n|--------------|-------|\\n`;\nfounders.forEach(f => {\n  table += `| ${f.name} | ${f.email} |\\n`;\n});\n\n// Final output\nreturn [\n  {\n    json: {\n      company: parsed.company,\n      foundersCount: founders.length,\n      founders,\n      markdownTable: table\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        112
      ],
      "id": "7f7bafdd-60ad-45c0-a1ba-79e0e5bb90e4",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Config: URL + Domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config: URL + Domain": {
      "main": [
        [
          {
            "node": "Fetch Page HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Page HTML": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "98f169b9-5c29-47d3-830b-a594e3bc4b19",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8079cbbba01204783a2e550229d0e534ef73b429df657b412ba042e1a46a95af"
  },
  "id": "Abvsb5QOdKKN9sZg",
  "tags": []
}